@charset "utf-8";

body{
	display:block; text-align:left; position:absolute; z-index:42;background-color: #fff;overflow:auto;
}
.pageFormContent{
	padding:10px;
}
.left{
	float: left;
}
.clear{
	clear:both;
}
.hidden{
	display:none;
}
ul{
	
}
ul li{
	float:left;
	margin-left:20px;
}