@charset "utf-8";

/* Alert */
.alert .alertFooter, .alert .alertFooter_r, .alert .alertFooter_c { background:url(./images/alert/alertpanel.png) no-repeat;}
.alert .alertContent { border-color:#b8d0d6; background:#eef4f5;}
.alert .warn .alertInner { border-color:#e83e09; background:#fefacf;}
.alert .error .alertInner { border-color:#e50000; background:#fefacf;}
.alert .correct .alertInner, .alert .info .alertInner { border-color:#b8d0d6; background:#fefacf;}
.alert .confirm .alertInner { border-color:#b8d0d6; background:#fefacf;}
.alert h1 { border-color:#CCC; background:url(./images/alert/alertpanel_icon.png) no-repeat;}
.alert { overflow:hidden; z-index:1011; display:block; width:300px; margin-left:-150px; position:absolute; top:0; left:50%;}
.alert .alertContent { display:block; overflow:hidden; padding:5px 5px 1px 5px; border-style:solid; border-width:0 1px;}
.alert .alertInner { display:block; padding:0 9px 9px 9px; text-align:left; border-style:solid; border-width:1px;}
.alert .alertInner .msg { margin:10px; max-height: 200px; overflow: auto; line-height: 1.3em}
.alert h1 { display:block; overflow:hidden; height:30px; margin-bottom:10px; padding:0 0 0 25px; line-height:30px; border-style:solid; border-width:0 0 1px 0; line-height:30px;}
.alert .error h1 { background-position:2px -42px;}
.alert .info h1,
.alert .warn h1 { background-position:2px 8px;}
.alert .correct h1 { background-position:2px -92px;}
.alert .confirm h1 { background-position:2px 8px;}
.alert p { margin:10px;}
.alert .toolBar { display:block; overflow:hidden; height:25px; padding-top:5px; text-align:right;}
.alert .toolBar ul { float:right;}
.alert .toolBar li { float:left;}
.alert .toolBar .button, .alert .toolBar .buttonActive { margin-left:5px;}
.alert .alertFooter_c { display:block; overflow:hidden; height:5px;}
.alert .alertFooter { padding-left:5px; background-position:0 0;}
.alert .alertFooter_r { padding-right:5px; background-position:100% -50px;}
.alert .alertFooter_c { padding:0; background-position:0 -100px; background-repeat:repeat-x;}

/* Shadow */
.shadow .shadow_h_l { background:url(./images/shadow/shadow_h_l.png) no-repeat;}
.shadow .shadow_h_r { background:url(./images/shadow/shadow_h_r.png) no-repeat;}
.shadow .shadow_h_c { background:url(./images/shadow/shadow_h_c.png) repeat-x;}
.shadow .shadow_c_l { background:url(./images/shadow/shadow_c_l.png) repeat-y;}
.shadow .shadow_c_r { background:url(./images/shadow/shadow_c_r.png) repeat-y;}
.shadow .shadow_c_c { background:url(./images/shadow/shadow_c_c.png) repeat;}
.shadow .shadow_f_l { background:url(./images/shadow/shadow_f_l.png) no-repeat;}
.shadow .shadow_f_r { background:url(./images/shadow/shadow_f_r.png) no-repeat;}
.shadow .shadow_f_c { background:url(./images/shadow/shadow_f_c.png) repeat-x;}
.shadow { display:none; overflow:hidden; position:absolute; z-index:41;}
.shadow .shadow_h, .shadow .shadow_h_l, .shadow .shadow_h_r, .shadow .shadow_h_c,
.shadow .shadow_f, .shadow .shadow_f_l, .shadow .shadow_f_r, .shadow .shadow_f_c { display:block; overflow:hidden; height:6px;}
.shadow .shadow_h_l, .shadow .shadow_c_l, .shadow .shadow_f_l { width:6px; position:absolute; top:0; left:0;}
.shadow .shadow_h_r, .shadow .shadow_c_r, .shadow .shadow_f_r { width:6px; position:absolute; top:0; right:0;}
.shadow .shadow_h_c, .shadow .shadow_c_c, .shadow .shadow_f_c { margin:0 6px;}
.shadow .shadow_c, .shadow .shadow_c_l, .shadow .shadow_c_r, .shadow .shadow_c_c { display:block; overflow:hidden; height:100%;}

/* ----------------------------------------------------------------- Form */
.inputButton, .inputDateButton { background:url(./images/form/input_bt.png) no-repeat;}
/* Button */
.button, .button span,
.buttonDisabled, .buttonDisabled span,
.buttonActive, .buttonActive span,
.button .buttonContent, .buttonHover, .buttonHover .buttonContent,
.buttonActive .buttonContent, .buttonActiveHover, .buttonActiveHover .buttonContent,
.buttonDisabled .buttonContent { background:url(./images/button/button_s.png) no-repeat;}
.button span, .buttonDisabled span, .buttonActive span,
.button .buttonContent, .buttonHover, .buttonHover .buttonContent,
.buttonActive .buttonContent, .buttonDisabled .buttonContent,
.button button, .buttonHover button,
.buttonActive button, .buttonDisabled button { color:#183152;}
.buttonDisabled span, .buttonDisabled:hover span,
.buttonDisabled button { color:#999;}
.inputButton { float:left; display:block; overflow:hidden; text-indent:-1000px; width:16px; height:21px;}
.inputButton:hover { background-position:0 -50px;}
.inputDateButton { float:left; display:block; overflow:hidden; text-indent:-1000px; width:16px; height:21px; background-position:0 -100px;}
.inputDateButton:hover { background-position:0 -150px;}
.button, .buttonActive, .buttonDisabled { float:left; display:block; overflow:hidden; height:25px; padding-left:5px;}
.button span, .buttonDisabled span, .buttonActive span,
.button .buttonContent, .buttonHover, .buttonHover .buttonContent,
.buttonActive .buttonContent, .buttonDisabled .buttonContent { float:left; display:block; overflow:hidden; height:25px; line-height:25px; font-weight:bold;}
.button { background-position:0 0;}
.button .buttonContent { padding:0 5px 0 0; background-position:100% -50px;}
.button span { padding:0 10px 0 5px; background-position:100% -50px; cursor:pointer;}
.button:hover { text-decoration:none; background-position:0 -100px;}
.button:hover span { background-position:100% -150px;}
.buttonHover { padding-left:5px; background-position:0 -100px;}
.buttonHover .buttonContent { padding:0 5px 0 0; background-position:100% -150px;}
.buttonActive { background-position:0 -200px;}
.buttonActive .buttonContent { padding:0 5px 0 0; background-position:100% -250px;}
.buttonActive span { padding:0 10px 0 5px; background-position:100% -250px; cursor:pointer;}
.buttonActive:hover { text-decoration:none; background-position:0 -300px;}
.buttonActive:hover span { background-position:100% -350px;}
.buttonActiveHover { background-position:0 -300px;}
.buttonActiveHover .buttonContent { padding:0 5px 0 0; background-position:100% -350px;}
.buttonDisabled, .buttonDisabled:hover { text-decoration:none; background-position:0 -400px;}
.buttonDisabled span, .buttonDisabled:hover span { padding:0 10px 0 5px; background-position:100% -450px; cursor:default;}
.buttonDisabled .buttonContent { padding:0 5px 0 0; background-position:100% -450px;}
.button button, .buttonHover button,
.buttonActive button, .buttonDisabled button { width:auto; height:25px; line-height:25px; margin:0; padding:0 0 5px 0; border:0; font-size:12px; font-weight:bold; background:none; cursor:pointer;}
.buttonDisabled button { cursor:default;}

/* rightMenu */
#contextmenu{display:none; position:absolute; z-index:500; left:0; top:0;}
#contextmenu ul{list-style:none; padding:1px; margin:0; background-color:#fff; border:1px solid #999; width:150px;}
#contextmenu li{display:block; color:#000; padding:3px; margin:0; border:1px solid #fff; background-color:transparent; text-align:left; cursor:default;}
#contextmenu li.hover{border:1px solid #0a246a; background-color:#b6bdd2}
#contextmenu li.disabled{color:#666;}
#contextmenuShadow{display:none; position:absolute; opacity:0.2; filter:alpha(opacity=20); background-color:#000; z-index:499; }